* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.design-pane {
  margin: 20px 200px;
  border: solid 4px black;
  border-radius: 4px;
  background-color: white;
  width: calc(100% - 400px);
  height: calc(100% - 40px);
}
